// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    section {
        height: auto;
    }

    header {
        background: red;
    }
// seccion 1 seccion 1 seccion 1 seccion 1
    .sec1__box {
        grid-template-areas: 
        "h1 h1 h1 h1"
        "p p p p"
        "video video video video" !important; 
    }
    
    .sec1_video {
        height: 50rem;
    }

    .sec1_anim {
        display: none !important;
    }

// seccion 2 seccion 2 seccion 2 seccion 2

    
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    header {
        background: green;
    }
}

@media (min-width: 575.98px) {}